@using Metawision.blog.Models;


@{
    ViewBag.Title = "Home Page";
}

@{
//var t = new Temp();
//Temp t = new Temp();
//var i = t.sum(10, 5);
    @*var i = Temp.sumStatic(10, 5);

        @DateTime.Now
        <hr />
        t = @i*@

}


<div class="row">

    <div class="col-md-3" style="background-color:#0099ff">
        3
    </div>
    <div class="col-lg-5" style="background-color:#ff7500">
        5
    </div>
    <div class="col-lg-5" style="background-color:#ff0000">
        4
    </div>
    <div class="col-lg-12" style="background-color:#00ff00">
@Temp.CreateAccount()
    </div>

</div>