@using Metawision.blog.Models;


@{
    ViewBag.Title = "Home Page";
}

@{
//var t = new Temp();
//Temp t = new Temp();
//var i = t.sum(10, 5);
    @*var i = Temp.sumStatic(10, 5);

        @DateTime.Now
        <hr />
        t = @i*@

}


<div class="row">

    <div class="col-md-3" style="background-color:#0099ff">
        <input type="text" class="input-lg" id="tempTxt"/>
        @*<button type="button" class="btn btn-lg btn-primary" onclick="showMessage()" >show message</button>*@
        @*<button type="button" class="btn btn-lg btn-primary" id="showBtn" >show message</button>*@
        <button type="button" class="btn btn-lg btn-primary" id="slideUpBtn" >slide up</button>
    </div>
    <div class="col-lg-5 mohsen" style="background-color:#ff7500">
        5
    </div>
    <div class="col-lg-5" style="background-color:#ff0000">
        4
    </div>
    <div class="col-lg-12 mohsen" style="background-color:#00ff00">
        vdgdfgdfg
        <br />
        ;lklfks;lfksl;kfd
    </div>

</div>


<script>
    //$("document").ready(function () {
  

    //});


    $("#showBtn").click(function () {
        console.log($("#tempTxt").val());
    });
    

    $("#slideUpBtn").click(function () {
       // $(".mohsen").slideUp(500);
        //console.log($(this).closest("div").css("background-color"));
        console.log($(this).closest("div").find("input").val());


    });


    function showMessage() {
        var textBox = document.getElementById("tempTxt");
        var str = textBox.value;
        console.log(str);
    }




</script>